
django
sentence_transformers
langchain                0.1.20
langchain-community      0.0.38
langchain-core           0.1.53
langchain-huggingface    0.0.3
langchain-text-splitters 0.0.1
ollama
pytesseract
pdf2image



ollama pull phi
ollama pull phi3:mini