django
youtube-transcript-api
langchain
langchain-core
langchain_google_genai
langchain-community
faiss-cpu
google-auth
sentence-transformers
langchain-huggingface


django
sentence_transformers
pdfplumber
pdf2image
pytesseract
tesseract-ocr
poppler-utils
langchain_huggingface
langchain_text_splitters
langchain.vectorstores
pymupdf

/apt 
npm
